.btn-shadow:hover{
  background-color: gray;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.5); 
}
        html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
